{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="ul-widget-stat-s1">
    <div class="row">

        <!-- First Card -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Data-Upload"></i>
                    <div class="content">
                        <a href="{% url 'store:add_school_booklet' %}" class="d-block">
                            <p class="text-muted mt-2 mb-0 link-text">وارد البوكليت</p>
                            <img src="{% static 'dist-assets/images/products/s36.png' %}" alt="وارد البوكليت" class="icon-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Card -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Data-Upload"></i>
                    <div class="content">
                        <a href="{% url 'store:add_booklet_delivery' %}" class="d-block">
                            <p class="text-muted mt-2 mb-0 link-text"> اضافة رصيد بوكليت</p>
                            <img src="{% static 'dist-assets/images/products/s121.png' %}" alt="وارد البوكليت" class="icon-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Card -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Data-Upload"></i>
                    <div class="content">
                        <a href="{% url 'store:school_booklet_list' %}" class="d-block">
                            <p class="text-muted mt-2 mb-0 link-text">قائمة جرد البوكليت</p>
                            <img src="{% static 'dist-assets/images/products/s95.png' %}" alt="قائمة جرد البوكليت" class="icon-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth Card -->
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
                <div class="card-body text-center">
                    <i class="i-Data-Upload"></i>
                    <div class="content">
                        <a href="{% url 'store:home' %}" class="d-block">
                            <p class="text-muted mt-2 mb-0 link-text">الرئيسية</p>
                            <img src="{% static 'dist-assets/images/products/s44.png' %}" alt="الرئيسية" class="icon-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
