{% extends 'base.html' %}
{% load static %}



{% block content %}
  <h2>قائمة إهلاك الكتب</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
  
      <tr>
        <th>الكتاب</th>
        <th>المرحلة الدراسية</th>
        <th>الصف الدراسي</th>
        <th>الكمية المستهلكة</th>
        <th>سبب الإهلاك</th>
        <th>تاريخ الإهلاك</th>
      </tr>
    </thead>
    <tbody>
      {% for depreciation in depreciations %}
        <tr>
          <td>{{ depreciation.book.title }}</td>
          <td>{{ depreciation.book.stage}}</td>
          <td>{{ depreciation.book.class_level.name }}</td>
          <td>{{ depreciation.quantity }}</td>
          <td>{{ depreciation.cause }}</td>
          <td>{{ depreciation.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

